.button {
    -fx-background-color: transparent;
}

.toggle-button {
    -fx-background-color: transparent;
}



.toggle-button.playpause .image-view {
    -fx-image: url("../Icons/PlayButton.png");
}

.toggle-button.playpause:hover .image-view {
    -fx-image: url("../Icons/PlayButtonHover.png");
}

.toggle-button.playpause:selected .image-view {
    -fx-image: url("../Icons/PauseButton.png");
}

.toggle-button.playpause:selected:hover .image-view {
    -fx-image: url("../Icons/PauseButtonHover.png");
}



.button.prev .image-view {
    -fx-image: url("../Icons/PreviousButton.png");
}

.button.prev:hover .image-view {
    -fx-image: url("../Icons/PreviousButtonHover.png");
}



.button.next .image-view {
    -fx-image: url("../Icons/NextButton.png");
}

.button.next:hover .image-view {
    -fx-image: url("../Icons/NextButtonHover.png");
}



.button.shuffle .image-view {
    -fx-image: url("../Icons/ShuffleButton.png");
}

.button.shuffle:hover .image-view {
    -fx-image: url("../Icons/ShuffleButtonHover.png");
}



.button.shuffle-playlists .image-view {
    -fx-image: url("../Icons/LibraryMenu/ShufflePlaylistsButton.png");
}

.button.shuffle-playlists:hover .image-view {
    -fx-image: url("../Icons/LibraryMenu/ShufflePlaylistsButtonHover.png");
}



.button.repeat .image-view {
    -fx-image: url("../Icons/RepeatButton.png");
}

.button.repeat:hover .image-view {
    -fx-image: url("../Icons/RepeatButtonHover.png");
}

.button.repeat-all .image-view {
    -fx-image: url("../Icons/RepeatAllButton.png");
}

.button.repeat-all:hover .image-view {
    -fx-image: url("../Icons/RepeatAllButtonHover.png");
}

.button.repeat-one .image-view {
    -fx-image: url("../Icons/RepeatOneButton.png");
}

.button.repeat-one:hover .image-view {
    -fx-image: url("../Icons/RepeatOneButtonHover.png");
}



.button.random .image-view {
    -fx-image: url("../Icons/RandomButton.png");
}

.button.random:hover .image-view {
    -fx-image: url("../Icons/RandomButtonHover.png");
}



.toggle-button.volume .image-view {
    -fx-image: url("../Icons/VolumeButton.png");
}

.toggle-button.volume:hover .image-view {
    -fx-image: url("../Icons/VolumeButtonHover.png");
}

.toggle-button.volume:selected .image-view {
    -fx-image: url("../Icons/MuteButton.png");
}

.toggle-button.volume:selected:hover .image-view {
    -fx-image: url("../Icons/MuteButtonHover.png");
}