.container {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
}



.progress-slider {

}

.progress-slider .track {
    -fx-background-color: linear-gradient(to right, black 0%, #b3b3b3 0%);
}

.progress-slider .thumb {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-shape: null;
}



.volume-slider {

}

.volume-slider .track {
    -fx-background-color: linear-gradient(to top, black 0%, #b3b3b3 0%);
}

.volume-slider .thumb {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-shape: null;
}